<div class="post">
    <header class="page-heading">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <section class="about">
        <article class="post-content">
            <ul class="crew-container">
                <li class="crew-member">
                    <img src="/assets/images/trishna.jpg" alt="picture of Trishna"/>
                    <div>
                        <p>I am Trishna.</p>
                    </div>
                </li>
            </ul>

            <!--            <p>We’ve been friends for almost seven years and occasional travel partners for just as long. Together we
                are <i>Darbadar</i>, a travel blog yet so much more. </p>
            -->
            <p><i>Darbadar</i>, a word of Farsi-Urdu origin, means door-to-door, a word we think best describes the essence
                of a traveller, an identity we take on sporadically.</p>

            <p>When we haul our backpacks, we travel hard and ugly. We don’t mind hitchhiking on trucks or sleeping on
                sheets with suspicious stains. Those things, we feel, are lesser sacrifices in view of what we are
                usually after - a massive, delectable slice of life. Acidic and pungent and sweet and hot. Drips down
                the sides of your mouth onto your clothes. Messy but so good that you keep digging until your fork
                scrapes the china. </p>

            <p>Travel for us is a way to connect with this world and its people on a deeper level. Through this blog
                and the stories we tell of our journeys, we attempt to show you the way we see things and along the way
                translate our love for culture, history and adventure. </p>

            <p>
                From surfing with dolphins in Pondicherry to falling asleep to the sight of the Milky Way in the
                Himalayas in Kashmir, these are our stories as we travel the world <i>darbadar</i>.</p>

        </article>
    </section>
</div>


