<h1 class="page-heading">Beyond the well</h1>
<div>
  <p> Darbadar is a space we created to translate our journeys into meaningful odes, dedicated to the places we visit, the people we meet and the many facets of life and culture we experience every time we travel.</p> 

  <p> Beyond The Well, or BTW as we call it, is our endeavour to widen that space by building a community for travel storytelling. Think a bunch of people sitting around a campfire sharing travel stories minus the camping and the campfire and the bugs, yet, just as fun. </p>

  <p> With every BTW meetup, we continue to meet more and more different kinds of travellers and hear their fascinating stories. Come, join us!</p>
</div>

<section class="events">
  <section class="upcoming-events">
    <h3 class="section-title"><strong>Upcoming events</strong></h3>

    <div class="event">
      None at the moment! :( 
   <!--    <p><strong><a onclick="openPopup(this.href)" href="https://www.facebook.com/events/214897362377944/">BTW - Chapter 3</a></strong></p>
        <div class="event-details"><p> <strong>Theme: </strong> Adventure is out there</p>
          <p> <strong>Date: </strong> 23<sup>rd</sup> September 2017</p>
          <p> <strong>Time: </strong> 3:30 pm - 5:00 pm</p>
          <p> <strong>Venue: </strong><a onclick="openPopup(this.href)" href="https://www.google.co.in/maps/place/London+Muffin+Cafe/@18.5490423,73.8997708,17z/data=!3m1!4b1!4m5!3m4!1s0x3bc2c1109147f6af:0xe7508050d08cf623!8m2!3d18.5490423!4d73.9019595">  London Muffin cafe, Kalyani Nagar, Pune </a></p>
        </div>
      </div> -->
    </section>

<!-- 
    <section class="past-events">
      <h3 class="section-title"><strong>Past events</strong></h3>

      <div class="event">
        <p><strong><a onclick="openPopup(this.href)" href="https://www.facebook.com/events/486770858341400">BTW - Chapter 2</a></strong></p>
          <div class="event-details"><p> <strong>Theme: </strong> Open</p>
            <p> <strong>Date: </strong> 26<sup>th</sup> August 2017</p>
            <p> <strong>Time: </strong> 3:30 pm - 5:00 pm</p>
            <p> <strong>Venue: </strong>The Earth Cafe, Pune </a></p>
          </div>
        </div>
        <div class="event">
          <p><strong><a onclick="openPopup(this.href)" href="https://www.facebook.com/events/486770858341400">BTW - Chapter 1</a></strong></p>
            <div class="event-details"><p> <strong>Theme: </strong> https://www.facebook.com/events/1570853986320566</p>
              <p> <strong>Date: </strong> 16<sup>th</sup> July 2017</p>
              <p> <strong>Time: </strong> 3:30 pm - 5:00 pm</p>
              <p> <strong>Venue: </strong>The Earth Cafe, Pune </a></p>
            </div>
          </div>
        </section> -->
      </section>
