<div class="featured-section">
    <div class="left-col featured-post">
        {% assign post=site.posts|first%}

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <div class="post-img" style="background-image:url({{post.featureImage}}); background-position-x: {{post.thumbnail-position-x}};
      background-position-y: {{post.thumbnail-position-y}}">
            </div>
            <div class="post-data">
                <div class="post-meta">{{ post.genre }}
                    | {% if post.location %}
                    {{post.location}}
                    {% endif %}
                </div>
                <h2 class="post-title">{{ post.title }}</h2>
                <div class="post-excerpt"><p>{{ post.excerpt }}</p></div>
            </div>
        </a>
    </div>

    <div class="right-col">
        <section class="upper wallpaper">
            <h2 class="section-title">Wallpaper of the month</h2>
            <a target="_blank" href="https://s3.ap-south-1.amazonaws.com/darbadar/wallpapers/Cherrapunjee-by-darbadar.jpg" download="free-wallpaper-cherrapunjee-darbadar.jpg">
                <img class="wallpaper-img" src="https://s3.ap-south-1.amazonaws.com/darbadar/wallpapers/cherrapunjee-by-darbadar-thumbnail.jpg" alt="Free desktop wallpaper"/>
            </a>
        </section>

        <section class="lower published">
            <h2 class="section-title">Published in</h2>
            <a target="_blank" href="https://www.cntraveller.in/story/how-high-are-you-bhutan/">
                <img class="publication-logo" src="/assets/CNT.svg" alt="Featured in Conde Nast Traveller"/>
            </a>

            <a target="_blank"
               href="https://www.magzter.com/IN/OUTDOORPEOPLE-TOURISM-PROMOTION-PVT-LTD-(OPC)/Discover-India's-Northeast/Travel/296126">
                <img class="publication-logo discover-northeast" src="/assets/discover-indias-northeast.jpg"
                     alt="Featured in Discover India's Northeast"/>
            </a>
        </section>
    </div>
</div>