<div class="featured-section">
    <div class="left-col featured-post">
        {% assign post=site.posts|first%}

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <div class="post-img" style="background-image:url({{post.featureImage}}); background-position-x: {{post.thumbnail-position-x}};
      background-position-y: {{post.thumbnail-position-y}}">
            </div>
            <div class="post-data">
                <div class="post-meta">{{ post.genre }}
                    | {% if post.location %}
                    {{post.location}}
                    {% endif %}
                </div>
                <h2 class="post-title">{{ post.title }}</h2>
                <div class="post-excerpt"><p>{{ post.excerpt }}</p></div>
            </div>
        </a>
    </div>

    <div class="right-col">
        <div>
            <h2 class="section-title">Published in</h2>
            <a target="_blank" href="https://www.cntraveller.in/story/how-high-are-you-bhutan/">
                <img class="publication-logo" src="/assets/CNT.svg" alt="Featured in Conde Nast Traveller"/>
            </a>

            <a target="_blank"
               href="https://www.magzter.com/IN/OUTDOORPEOPLE-TOURISM-PROMOTION-PVT-LTD-(OPC)/Discover-India's-Northeast/Travel/296126">
                <img class="publication-logo discover-northeast" src="/assets/discover-indias-northeast.jpg"
                     alt="Featured in Discover India's Northeast"/>
            </a>
        </div>

        <div class="instagram-feed">
            <h2 class="section-title">Instagram</h2>
            <div id="instagram-grid">
                <img src=""></img>
                <img src=""></img>
                <img src=""></img>

                <img src=""></img>
                <img src=""></img>
                <img src=""></img>

                <img src=""></img>
                <img src=""></img>
                <img src=""></img>
            </div>
        </div>
    </div>
</div>