<div class="featured-section">
    <div class="left-col featured-post">
        {% assign post=site.posts|first%}

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <div class="post-img" style="background-image:url({{post.featureImage}}); background-position-x: {{post.thumbnail-position-x}};
      background-position-y: {{post.thumbnail-position-y}}">
            </div>
            <div class="post-data">
                <div class="post-meta">{{ post.genre }}
                    | {% if post.location %}
                    {{post.location}}
                    {% endif %}
                </div>
                <h2 class="post-title">{{ post.title }}</h2>
                <div class="post-excerpt"><p>{{ post.excerpt }}</p></div>
            </div>
        </a>
    </div>

    <div class="right-col">
        {% assign date=site.time | date: '%m-%y' %}
        <section class="lower published">
            <h2 class="section-title">Published in</h2>
            <a target="_blank" href="https://www.thehindu.com/sci-tech/energy-and-environment/manipurs-loktak-lake-chokes-from-a-catastrophic-project-flagged-off-50-years-ago/article30759633.ece">
                <img class="publication-logo" src="/assets/images/the-hindu.webp" alt="Featured in The Hindu"/>
            </a>

            <a target="_blank" href="http://natgeotraveller.in/in-photos-life-along-manipurs-loktak-lake/">
                <img class="publication-logo" src="/assets/images/nat-geo-india.jpg" alt="Featured in Natgeo Traveller India"/>
            </a>

            <a target="_blank" href="https://www.cntraveller.in/story/how-high-are-you-bhutan/">
                <img class="publication-logo" src="/assets/images/CNT.svg" alt="Featured in Conde Nast Traveller"/>
            </a>

            <a target="_blank"
               href="https://www.magzter.com/IN/OUTDOORPEOPLE-TOURISM-PROMOTION-PVT-LTD-(OPC)/Discover-India's-Northeast/Travel/296126">
                <img class="publication-logo discover-northeast" src="/assets/images/discover-indias-northeast.jpg"
                     alt="Featured in Discover India's Northeast"/>
            </a>
        </section>
    </div>
</div>
