<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msvalidate.01" content="0FA7C1061BF5DA4C43802F943D58716D" />
  <title>{% if page.title %}{{ page.title }} - Darbadar{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:image" content="{% if page.featureImage %}{{page.featureImage}}{% else %}{{site.url}}/assets/collage.jpg{% endif %}">
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@DarbadarTrails">
  <meta name="twitter:title" content="{{page.title}}">

  <!--Unescape the excerpts before removing page.socialMedia. Breaks few blogposts-->
  <meta name="twitter:description" content="{% if page.socialMedia %}{{page.socialMedia}}{% else %}{{page.excerpt}}{% endif %}">
  <meta name="twitter:image" content="{% if page.featureImage %}{{page.featureImage}}{% else %}{{site.url}}/assets/collage.jpg{% endif %}">

  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro|Source+Sans+Pro:300,400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/libs/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/libs/slick/slick-theme.css"/>

  <!-- Images on flickr.com -->
</head>
