<div class="category">
  <h1 class="tag-heading">Latest</h1>
  <ul class="post-list cf">
    {% for post in site.posts limit:3 %}
    <li>
      <a class="tile-link {{ post.categories }}" href="{{ post.url | prepend: site.baseurl }}">
        <div class="tile-link-outer">
          <span class="tile-type">{{ post.categories }}</span>
          <span class="tile-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div class="tile-img" style="background-image:url({{post.featureImage}});"></div>
          <span class="tile-location"><i class="fa fa-map-marker post-location-icon"></i> {{ post.location}}</span>
        </div>
        <div class="tile-link-inner">
          {% if  post.categories contains "stories" %}
          <h2 class="tile-title">{{ post.title }}</h2>
          {% endif %}
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>