<ul class="post-list cf">
  {% for post in site.posts %}
  {% if post.categories contains "guides" %}
  {% else %}
  <li style="background-image:url({{post.featureImage}});">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <div class="post-img">
        <div class="post-category {{ post.categories }}"></div>
      </div>
      <div class="post-link-inner {{ post.genre | downcase }}">
        <div class="post-meta">
        <span class="post-genre">{{ post.genre }}</span>
        </div>
          <h2 class="post-title">{{ post.title }}</h2>
        </div>
      </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>