<h1 class="page-heading">Postcards</h1>

{% for post in site.categories.postcards %}
  <div class="postcard-container">
    <a href="{{post.url}}" class="postcard-link">
      <div class="postcard">
        <img class="postcard-img" src="{{post.featureImage}}" alt="{{post.title}}"/>
        <div class="postcard-content">
          <div class="postcard-date">{{ post.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{  page.meta }}{% endif %}</div>
          <div class="postcard-location">
            {% if post.location %}
              <i class="fa fa-map-marker post-location-icon"></i>{{post.location}}
            {% endif %}
          </div>
          <div class="postcard-caption">{{ post.content }}</div>
        </div>
      </div>
    </a>
  </div>
{% endfor %}

<div class="postcard-list clearfix">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
  <div>