<div class="social-media-share">
  <a onclick="openPopup(this.href)" class="share-btn fb-share-button" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
  <a onclick="openPopup(this.href)" class="share-btn twitter-share-button" href="https://twitter.com/intent/tweet?text={{page.socialMedia}}&url={{site.url}}{{page.url}}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
  <a onclick="openPopup(this.href)" class="share-btn email-share-button" href="mailto:?subject={{page.title}}&body={{page.socialMedia}} {{site.url}}{{page.url}}"><i class="fa fa-envelope"></i> Email</a>
</div>