.crew-container {
  text-align: center;
  list-style-type: none;
  margin: 0;

  .connector {
    display: inline-block;
  }
}


.crew-member {
  width: 45%;
  display: inline-block;
  text-align: center;

  div {
    display: inline-block;
    padding-top: 20px;
  }
}

.avataar {
    width: 100px;
    border-radius: 50%;
}