.crew-container {
  text-align: center;
  list-style-type: none;
  margin: 0;

  .connector {
    display: inline-block;
  }
}


.crew-member {
  width: 45%;
  display: inline-block;
  text-align: center;

  img {
    width: 100px;
    border-radius: 50%;
  }

  div {
    display: inline-block;
    padding-top: 20px;
  }
}

.film-roll {
  height: 100px;
  background-image: url("/assets/images/film-roll.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  animation: slide 60s linear infinite;
  width: 36000px;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}