hr {
	border:0;
}

hr:after {
	content: '***';
	display: block;
  margin: auto;
  width: 10%;
  text-align: center;
}

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration:none;
}

a:visited {
	color: black;
}

.underline{
	border-bottom: 1px slategray solid;
}

// Tooltips
[title] {
	position: relative;
	display: inline-block;
	cursor: help;
	&:after {
		display: block;
		content: attr(title);
		font-size: 16px;
		position: absolute;
		top: -50px;
		left: 0;
		right: 0;
		background: $grey-color-dark;
		padding: 10px;
		border-radius: 3px;
		color: #fff;
		opacity: 0;
		text-align:center;
		-webkit-transition: opacity 0.3s ease-in-out;
						transition: opacity 0.3s ease-in-out;
	}
	&:hover:after {
		opacity: 1;
	}
}

// Image captions

.image {
	width: auto;
	margin: auto;
	display: table;
	text-align:center;
	&:after {
		content: '';
		display: block;
		border-bottom: 1px #999 solid;
		width: 2em;
		margin:auto;
	}
}
.image-caption {
	padding: 10px;
	font-size: $small-font-size;
}