hr {
	border:0;
}

hr:after {
	content: '***';
	display: block;
  margin: auto;
  width: 10%;
  text-align: center;
}

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration:none;
}

a:visited {
	color: black;
}

.underline{
	border-bottom: 1px slategray solid;
}

// Tooltips
.tooltip {
	display: none;
	position: absolute;
	background: $grey-color-dark;
	padding: 10px 16px;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	&:after {
		content: "";
		width: 0;
		height: 0;
		border: 10px solid $grey-color-dark;
		position: absolute;
		bottom: -20px;
		left: 50%;
		margin-left: -10px;
		border-color: $grey-color-dark transparent transparent;
	}
}

[data-title] {
	padding: 5px 0;
	border-bottom: 1px dashed $grey-color-light;
	cursor: help;
	margin-right: 0.3em;
}

// Image captions

.image {
	width: auto;
	margin: auto;
	display: block;
	text-align:center;
	&:after {
		content: '';
		display: block;
		border-bottom: 1px #999 solid;
		width: 2em;
		margin:auto;
	    position: relative;
    	top: 5px;
	}
}
.image-caption {
	padding: 10px;
	font-size: 16px;
}

// alignments
.tac {
	text-align: center;
}