hr {
	border:0;
}

hr:after {
	content: '***';
	display: block;
    margin: auto;
    width: 10%;
}

a:link {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration:none;
}

a:visited {
	color: black;
}

.underline{
	border-bottom: 1px slategray solid;
}