.gallery-loaded .post-content img {
  cursor: pointer;
}

.gallery {
  display: none;
	position: fixed;
  top: 0;
  right: 0;
	bottom:0;
  left: 0;
	background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;

  .overlay & {
    display: block;
  }
}

.close-button {
  text-transform: uppercase;
  position:fixed;
  right:2%;
  top:10px;
  color: #fff;
  font-size: medium;
  cursor: pointer;
  z-index: 2;
}

.gallery-image-container,
.prev-image,
.next-image,
.gallery-image-caption {
  position: absolute;
}

.prev-image,
.next-image {
  height: 100%;
  &:after{
       display: block;
       width: 0;
       height: 0; 
       margin-top: 50vh;
       color: #fff !important;
       font-family: 'slick';
       font-size: 30px;
       margin-left: 50%;  
   }
}

.gallery-image-container {
  top: 50%;
  width: 100%;
}

.prev-image {
  left: 0;
  cursor: w-resize;
  &:after{
    content: "←";
  };
}

.next-image {
  right: 0;
  cursor: e-resize;
  &:after{
    content: "→";
  };
}

.gallery-image {
  display: block;
  margin: auto;
}

.gallery-image-caption {
  bottom: 0;
  width: 100%;
  color: #fff;
  display: none;
  p {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.8);
  }
}

.gallery-image-container:hover .gallery-image-caption{
  display:block;
}