.gallery-loaded .post-content img {
  cursor: pointer;
}

.gallery {
  display: none;
	position: fixed;
  top: 0;
  right: 0;
	bottom:0;
  left: 0;
	background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;

  .overlay & {
    display: block;
  }
}

.close-button {
  text-transform: uppercase;
  position:fixed;
  right:2%;
  top:10px;
  font-size: medium;
  cursor: pointer;
  z-index: 2;
}

.gallery-image-container,
.prev-image,
.next-image,
.gallery-image-caption-container {
  position: absolute;
}

.prev-image,
.next-image {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  &:after{
       display: block;
       width: 0;
       height: 0; 
       margin-top: 50vh;
       color: #fff !important;
       font-family: 'slick';
       font-size: 30px;  
   }
}

.gallery-image-container {
  left: 10%;
  top: 50%;
  width: 50%;
}

.prev-image {
  width: 10%;
  left: 0;
  cursor: w-resize;
  &:after{
    content: "←";
    margin-left: 30%;
  };
}

.next-image {
  width: 10%;
  top:0;
  right: 30%;
  cursor: e-resize;
  &:after{
    content: "→";
    margin-left: 50%;
  };
}

.gallery-image {
  display: block;
  margin: auto;
}

.gallery-image-caption-container{
  right:0;
  width: 30%;
  bottom: 0;
  top: 10px;
  background-color: #fff
}

.gallery-image-caption {
  margin-top: 60px;
  width: 95%;
  text: #000;
  padding-left: 2%;
  p {
    text-align: justify;
    margin: 0 auto;
    padding: 10px 2%;
    box-sizing: border-box;
  }
}
