.overlay { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
}

.hide{
	display: none;
}   

.current-image{
	margin: auto;
	width:60%;
	float:left;
}

.next-image, .previous-image{
	width: 15%;	
	height: 100%;
	float:left;
	cursor: pointer;

	&:after{
    	content: "";
    	display: block;
    	width: 0%;
    	border: 16px solid rgba(0, 0, 0, -0.15);
    	margin-top: 50%;
	}
}

.next-image{
	margin-left: 5%;

	&:hover:after{
	 	border-left-color: #fff;
	}
}

.previous-image{
	margin-right:5%;
	&:hover:after{
	 	border-right-color: #fff;
	}
}
