.page-link {
	color: #777 !important;
	text-transform: uppercase;
	font-size: 16px;
  padding-bottom: 3px;
}

.page-link:hover {
	color: #000 !important;
  border-bottom: 1px solid #777;
}

.intro {
 	float: left;
    position: relative;
    top: 50px;
    left: -154px;
    font-size: large;
}