.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        float: left;
        width: $box-width;
        height: $box-height;
        margin-right: $spacing-unit;
        box-shadow: 0 4px 10px $grey-color-light;
        box-sizing: border-box;
        border-radius: 3px;

        &:nth-of-type(3n) {
            margin-right: 0;
        }
        &:nth-of-type(3n+1) {
            clear: both;
        }

        h3 a {
            font-weight: 800;
            color: $text-color;
        }

        @include media-query($on-palm) {
            float: none;
            width: auto;
            margin-right: 0;
        }

        .post-meta{
            font-size: 16px;
            margin-top: 10px;
            color: #000;
        }
    }
}

.right{
    float: right;
}

.post-link {
    display: block;
    font-size: 24px;
    height: 100%;
    position: relative;

    .post-title {
        color: #000;
        font-size: 24px;
        margin-top: 10px;
        text-align: center;
    }

    &:hover{
        opacity: 0.8;
    }
}

.post-img{
    width:100%;
    background-color: $grey-color-light;
    background-size: cover;
    height: $box-image-height;
    border-radius: 3px 3px 0 0;
}

.post-link-inner{
    padding: 10px;
    border-top: 7px solid;
}

.post-genre{
    text-transform: uppercase;
}

.history{
    border-color: #ff4d4d;
}

.culture{
    border-color: #ffea00;
}

.wildlife{
    border-color: #008000;
}

.adventure {
    border-color: #1e90ff;
}

.post-category:before {
    font-family: FontAwesome;
    position: absolute;
    top:0;
    right: 0;
    padding-right:10px;
    color: #fff;
}

.videos:before {
    content: "\f03d"; 
}
.stories:before{
    content: "\f044"; 
}
.postcards:before{
    content: "\f03e"; 
}

.video-list {
    > li {
        height: $video-box-height !important;
    }
}