.tag-heading{
	width: 100%;
	font-size: 42px;
    text-align: left;
    padding: 60px;
    font-weight: 800;
    padding-left: 0;
    padding-bottom: 10px;
    &:after {
        content: "";
        border-bottom: 1px solid $brand-color;
        width: 100%;
        display: block;
    }	
}

.post-list {
    margin: 0;
    list-style: none;

    > li {
        float: left;
        width: $box-width;
        height: $box-height;
        box-sizing: border-box;

        &:nth-of-type(3n+1) {
            clear: both;
        }

        h3 a {
            font-weight: 800;
            color: $text-color;
        }

        @include media-query($on-palm) {
            float: none;
            width: auto;
        }
    }
}

.tile-link {
    display: block;
    font-size: 24px;
    height: 100%;
    background-size: cover;
    width: 100%;
    position: relative;
	color: #000;
    
    .tile-title {
    	width: 100%;
        text-align: center;
    	font-size: 28px;
    	clear: both;
    }

    .tile-meta-link-inner {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &:hover{
        opacity: 0.8;
    }
}

.tile-meta{
	float: left;
    font-size: medium;
    margin: 5px 0;
}

.tile-type{
	font-size: medium;
	position: absolute;
	top: 36px;
	right: 10px;
	background: #000;
	color: #fff;
	padding: 5px;
}

.tile-location {
	text-align: right;
	font-size: medium;
	width: 100%;
	display: block;
	margin-top: 5px;
}

.tile-link-outer{
	padding: 5%;
	box-sizing: border-box;
}

.tile-img{
	margin-top: 5%;
	background-size: cover;
	height: $box-img-height;
	width: 100%;
	margin: auto;
}

.card{
    width: $box-width;
}

.tile-link-inner{
    clear:both;
}
/*
.culture {
    border-color: rgb(191, 63, 63) !important;
}

.wildlife {
    border-color: rgb(38, 114, 38) !important;
}

.history {
    border-color: rgb(76, 38, 114) !important;
}

.adventure {
    border-color: rgb(255, 255, 0) !important;
}*/