.post {
    width: 32em;
    max-width: 100%;
    margin: auto;
}
.post-header {
    padding: 48px 0;
    margin-bottom: $spacing-unit/2;
    text-align: center;
    min-height: 146px;
    &.has-bg {
        background-size: cover;
        background-color: $grey-color-dark;
        .post-title,
        .post-meta,
        .post-location {
            text-shadow: 1px 1px 6px #000;
        }
    }

    &:after {
        content: "";
        border-bottom: 1px solid $brand-color;
        width: 2em;
        display: block;
        margin: auto;
    }
    &.has-bg:after {
        border-color: #fff;
    }

    .post-title{
        line-height: 146px;
    }
}

.post-title {
    font-size: 42px;
    line-height: 1;
    font-weight: 800;

    .has-bg & {
        color: #fff;
        text-shadow: 1px 1px 6px #000;
    }

    @include media-query($on-laptop) {
        font-size: 36px;
    }

    @include media-query($on-palm) {
        font-size: 24px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    position: relative;
    z-index: 0;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        font-family: "Source Serif Pro";
        line-height: 1.6;
        margin-bottom: 2em;

        &:first-child:first-letter {
            font-size: 3.4em;
            padding: 0 0.1em 0 0;
            line-height: 0.8;
            float: left;
            margin: 0.1em 0.1em 0 0;
        }
    }

    img {
        margin:auto;
        display: block;
    }
}

.post-location-icon {
    padding: 3px;
}

.post-meta{
    font-size: smaller;
    overflow: auto;
    margin-bottom: 20px;
}

.post-date {
    display: inline;
}

.post-location{
    margin-left: 5px;
    float: right;
}