.postcard {
  background: #e6e7e8;
  margin-bottom: 20px;
}

.postcard-content{
	padding: 10px;
  font-size: 15px;
}

.postcard-date{
	display: inline;
}

.postcard-location{
	display: inline;
	float: right;
}

.postcard-caption{
	margin-top:15px;
}

.col {
  width: 290px;
  display: block;
  margin-left: 20px;
  float: left;
}

.postcard-list{
	margin: auto;
  margin-left: -20px;
}

.clearfix{
	overflow:hidden;
}