.social-media-share {
  text-align: center;
  margin-bottom: 4em;
}
.share-btn {
  display: inline-block;
  border: 1px solid $grey-color-light;
  border-radius: 100px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  padding: 10px 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 10px;
  transition: background-color,border-color 0.2s ease-in-out; 
  &:hover {
    color: #fff;
  }
}

.twitter-share-button:hover {
  background-color: #55acee;
  border-color: #55acee;
}
.fb-share-button:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}
.email-share-button:hover {
  background-color: #000;
  border-color: #000;
}