.notification-bar {
	background: rgba(#FFBD00, 0.8);
	border-bottom: 1px dashed #fff;
	position: relative;
	text-align: center;
	padding-top: 12px;
	font-size: 16px;
}
a.notification-link {
	color: #BA5A02;
	&:hover {
		text-decoration: underline;
		color: #737373;
	}
}

.close-btn {
	position: absolute;
	top: 2px;
	right: 5px;
	cursor: pointer;
}

.close {
	display: none;
}