.contributors-container {
  text-align: center;
  list-style-type: none;
  margin: 0;

  li {
    width: 45%;
    display: inline-block;
    text-align: center;
  }

  p {
    margin-bottom: 0px;
  }
}

.contributor-details {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2em;
}

.contributor-name {
  font-weight: bold;
}