<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% if page.featureImage and page.categories contains "stories"%}
      <div class="header-img header-img-height" style="background-image: url('{{page.featureImage}}'); background-position: {{page.positionX}} {{page.positionY}};"></div>
      <div class="gradient header-img-height"></div> 
    {% endif %}

    {% include header.html%}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <div class="site-footer">
      <div class="wrapper">
        <div class="follow">
          <p>Connect with us</p>
            <a href="https://www.facebook.com/darbadarTrails" class="follow-item follow-fb"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/DarbadarTrails" class="follow-item follow-twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/darbadartrails/" class="follow-item follow-instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <p class="copyright"><small>&copy; Copyright {{ site.time | date: '%Y' }}. darbadar.com</small></p>
      </div>
    </div>
    
    <script type="text/javascript" src="/libs/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/libs/jquery.unveil.js"></script>
    <script type="text/javascript" src="/libs/slick/slick.min.js"></script>
    <script type="text/javascript" src="/assets/js/darbadar.js"></script>
    <script type="text/javascript" src="/assets/js/images.js"></script>
    <script type="text/javascript" src="/assets/js/postcards.js"></script>
    <script type="text/javascript" src="/assets/js/read-time.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
