<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
<div class="page-content">
    <div class="wrapper">
        {{ content }}
        <iframe width="100%" height="576" src="https://maphub.net/embed/47718?panel=1" frameborder="0"></iframe>
    </div>
</div>

<div class="site-footer">
    {% if page.name == "index.html" %}
    <div class="film-roll-wrapper">
        <div class="film-roll"></div>
    </div>
    {% endif %}

    <div class="wrapper">
        <div class="follow">
            <p>Connect with us</p>
            {% include follow-us.html %}
        </div>
        <p class="copyright">
            <small>&copy; {{ site.time | date: '%Y' }} Darbadar</small>
        </p>
    </div>
</div>

<script type="text/javascript" src="/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/libs/jquery.unveil.js"></script>
<script type="text/javascript" src="/assets/js/tooltip.js"></script>
<script type="text/javascript" src="/assets/js/images.js"></script>
<script type="text/javascript" src="/assets/js/read-time.js"></script>
<script type="text/javascript" src="/assets/js/notification.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>
