---
layout: default
---
<div class="post" itemscope itemtype="https://schema.org/BlogPosting" data-album-id="{{page.albumId}}">

	{% if page.featureImage %}
		<header class="post-header has-bg" style="background-image:url('{{page.featureImage}}');background-position: {{page.positionX}} {{page.positionY}}">
				{% if page.suptitle %}
					<h4 class="post-sup-title" itemprop="headline">{{ page.suptitle }}</h4>
					<div class="post-title-container">
						<h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
					</div>
				{% else %}
					<div class="post-title-container">
						<h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
					</div>
				{% endif %}	
				<div class="post-read-time">
					<i class="fa fa-clock-o post-read-time-icon"></i>
				</div>
		</header>
	{% else %}
		<header class="post-header">
				<h4 class="post-sup-title" itemprop="headline">{{ page.suptitle }}</h4>
				<div class="post-title-container">
					<h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
				</div>
				<div class="post-read-time">
					<i class="fa fa-clock-o post-read-time-icon"></i>
				</div>
		</header>	
	{% endif %}	
		

		<article class="post-body" itemprop="articleBody">
			<div class="post-meta">
				<div class="post-date" itemprop="datePublished"> 
					{{ page.date | date: "%b %-d, %Y" }}
						{% if page.author %} • {{ page.author }}{% endif %}
						{% if page.meta %} • {{ page.meta }}{% endif %}
				</div>
				
				<div class="post-location" itemprop="contentLocation">
					{% assign hasGuide = false %}
					{% if page.location %}
						{% for guide in site.categories.guides %}
							{% if guide.location == page.location %}
								<a href="{{ guide.url | prepend: site.baseurl }}"><i class="fa fa-map-marker post-location-icon"></i>	{{page.location}}</a>
								{% assign hasGuide = true %}
								{% break %}
							{% endif %}
						{% endfor %}	
						{% unless hasGuide %}
							<i class="fa fa-map-marker post-location-icon"></i>{{page.location}}
						{% endunless %}
					{% endif %}
				</div>
			</div>

		
			<div class="post-content">
				{{ content }}
				{% if page.location %}
					{% for guide in site.categories.guides %}
						{% if guide.location == page.location %}
							<a class="guide-link" href="{{ guide.url | prepend: site.baseurl }}"><i class="fa fa-map-o"></i>	Fact file </a>
						{% endif %}
					{% endfor %}	
				{% endif %}
			</div>
		</article>
	{% include post-footer.html %}

	
</div>
	<script src="/assets/js/google-analytics.js"> </script>  		
</div>

