---
layout: default
---
<div class="post" itemscope itemtype="https://schema.org/BlogPosting" data-album-id="{{page.albumId}}">
		<article class="post-body" itemprop="articleBody">
			<div class="post-meta has-bg">
				<img src="{{page.featureImage}}"/>
				<p class="post-date" itemprop="datePublished"> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
				<p class="post-location has-bg" itemprop="contentLocation">
					{% assign hasGuide = false %}
					{% if page.location %}
						{% for guide in site.categories.guides %}
							{% if guide.location == page.location %}
								<a href="{{ guide.url | prepend: site.baseurl }}"><i class="fa fa-map-marker post-location-icon"></i>	{{page.location}}</a>
								{% assign hasGuide = true %}
								{% break %}
							{% endif %}
						{% endfor %}	
						{% unless hasGuide %}
							<i class="fa fa-map-marker post-location-icon"></i>{{page.location}}
						{% endunless %}
					{% endif %}
				</p>
			</div>

		
			<div class="post-content">
				{{ content }}
			</div>
		</article>

	{% include post-footer.html %}
	<script src="/assets/js/google-analytics.js"> </script>  		
</div>
