---
layout: default
permalink: /postcard/:year/:month/:title/
---

<div class="postcard">
	<img class="postcard-img" src="{{page.featureImage}}" alt="{{page.title}}"/>
	<div class="postcard-content">
		<div class="postcard-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
		<div class="postcard-location">
			{% if page.location %}
			{% if page.latitude and page.longitude %}
			<a href="http://maps.google.com/?ie=UTF8&q={{page.location}}&ll={{page.latitude}},{{page.longitude}}&z=13" target=blank><i class="fa fa-map-marker post-location-icon"></i>	
				{{page.location}}</a>
				{% else %}
				<i class="fa fa-map-marker post-location-icon"></i>
				{{page.location}}
				{% endif %}
				{% endif %}
		</div>
		<div class="postcard-caption">
			{{ content }}
		</div>
	</div>
</div>