.featured-section {
  padding: 20px;
  margin-bottom: 18px;
}

.left-col {
  display: inline-block;
  width: 65%;
  height: 660px;
}

.right-col {
  display: inline-block;
  width: 25%;
  height: 660px;
  margin-left: 42px;
  vertical-align: top;
}

.featured-post {
  .post-img {
    height: 70%;
  }

  .post-title {
    color: #000;
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
  }
}

.publication-logo {
  display: inline-block;
  margin: auto;
  width: 150px;
}

.discover-northeast {
  width: 100px;
}

.section-title {
  font-size: 24px;
  line-height: 1;
  font-weight: 800;
  text-align: center;
  padding: 20px;
}

//Pull out to common post tile style

.post-excerpt {
  font-size: 18px;

  p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.8em;
    max-height: 3.6em;
  }
}